@model NoviKunstuitleen.Models.AdminViewModels.AdminViewModel

@{
    ViewData["Title"] = "View";
}

    <div class="fullcontent">
        <h3>Adminpagina</h3>
        <br />
        <h5>Gebruikersbeheer:</h5>
        <table>
            <tr>
                <th>Id:</th>
                <th>Gebruikersnaam:</th>
                <th>Weergavenaam:</th>
                <th>Accounttype:</th>
                <th>Bevestigd:</th>
                <th>&nbsp;</th>
            </tr>
            @foreach (var user in Model.Users.OrderByDescending(a => a.Type))
            {
                <tr>
                    <td>
                        @user.Id.ToString()
                    </td>
                    <td>
                        @user.UserName.ToString()
                    </td>
                    <td>
                        @user.DisplayName.ToString()
                    </td>
                    <td>
                        @user.Type.ToString()
                    </td>
                    <td>
                        @if (user.EmailConfirmed)
                        {
                            <text>Ja</text>
                        }
                        else
                        {
                            <a asp-controller="Admin" asp-action="ConfirmAccount" asp-route-id="@user.Id">bevestig nu</a>
                        }
                    </td>
                    <td>
                        @if (user.Type != NoviUserType.Root)
                        {
                            <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">verwijder</a>
                        }
                    </td>
                </tr>
            }
        </table>
        &nbsp;+ <a asp-controller="Account" asp-action="AdminRegister">gebruiker toevoegen</a>

        <br />
        <br />
        <h5>Collectiebeheer:</h5>
        <table>
            <tr>
                <th>Id:</th>
                <th>Titel:</th>
                <th>Aanbieder:</th>
                <th>Huurder:</th>
                <th>Aangemaakt:</th>
                <th>Beschikbaar:</th>
                <th>PPM:</th>
                <th>&nbsp;</th>
            </tr>
            @foreach (var artpiece in Model.ArtPieces)
            {
                <tr>
                    <td>
                        @artpiece.Id.ToString()
                    </td>
                    <td>
                        @artpiece.Title.ToString()
                    </td>
                    <td>
                        @artpiece.Lesser
                    </td>
                    <td>
                        @artpiece.Lessee
                    </td>
                    <td>
                        @artpiece.CreationDate.ToShortDateString()
                    </td>
                    <td>
                        @artpiece.AvailableFrom.ToShortDateString()
                    </td>
                    <td>
                        @artpiece.Price.ToString()
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="DeleteArtPiece" asp-route-id="@artpiece.Id">verwijder</a>
                    </td>

                </tr>
            }
        </table>
        &nbsp;+ <a asp-controller="Home" asp-action="Create">kunstwerk toevoegen</a>
    </div>

