@*
    _ItemContentPartial.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 24 dec 2019
*@

@model NoviKunstuitleen.Models.HomeViewModels.ItemContentViewModel

<ul>
    @if (Model.ShowTitle)
    {
        <li><b><a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.ArtPiece.Id">@Model.ArtPiece.Title</a></b></li>
    }
    <li>&nbsp;</li>
    <li>Kunstenaar: @Model.ArtPiece.Artist</li>
    <li>Aanbieder: @Model.ArtPiece.Lesser.DisplayName</li>
    <li>Prijs: @Model.ArtPiece.Price per maand</li>
    <li>&nbsp;</li>
    @if (Model.ShowDescription)
    {
        <li>Omschrijving: <br /> @Model.ArtPiece.Description</li>
        <li>&nbsp;</li>
    }
    @if (@Model.ArtPiece.Available)
    {
        <li class="available">&check; Beschikbaar!</li>
    }
    else
    {
        <li class="notavailable">Momenteel niet beschikbaar</li>
    }
    <li>&nbsp;</li>
</ul>