@*
    _AdminDataPartial.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 24 dec 2019
*@

@using System.Globalization
@model NoviKunstuitleen.Models.ManageViewModels.AdminDataViewModel

<h5>Gebruikersbeheer:</h5>
<table>
    <tr>
        <th>Id:</th>
        <th>Gebruikersnaam:</th>
        <th>Weergavenaam:</th>
        <th>Accounttype:</th>
        <th>Bevestigd:</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var user in Model.Users.OrderBy(a => a.Id))
    {
        <tr>
            <td>
                @user.Id.ToString()
            </td>
            <td>
                @user.UserName.ToString()
            </td>
            <td>
                @user.DisplayName.ToString()
            </td>
            <td>
                @user.Type.ToString()
            </td>
            <td>
                @if (user.EmailConfirmed)
                {
                    <text>Ja</text>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="ConfirmAccount" asp-route-id="@user.Id">bevestig nu</a>
                }
            </td>
            <td>
                @if (user.Type != NoviUserType.Root && user.UserName != User.Identity.Name)
                {
                    <a asp-controller="Manage" asp-action="DeleteUser" asp-route-id="@user.Id">verwijder</a>
                }
            </td>
        </tr>
    }
</table>
        &nbsp;+ <a asp-controller="Account" asp-action="AdminRegister">gebruiker toevoegen</a>

<br />
<br />
<h5>Walletbeheer:</h5>
<table>
    <tr>
        <th>Id:</th>
        <th>Gebruikersnaam:</th>
        <th>Wallet adres:</th>
        <th>Saldo:</th>
    </tr>
    @foreach (var wallet in Model.Wallets.OrderBy(a => a.UserID))
    {
        <tr>
            <td>
                @wallet.UserID.ToString()
            </td>
            <td>
                @wallet.UserName

            </td>
            <td>
                @wallet.Address
            </td>
            <td>
                @wallet.Balance.ToString()
            </td>
        </tr>
    }
</table>

<br />
<br />
<h5>Collectiebeheer:</h5>
<table>
    <tr>
        <th>Id:</th>
        <th>Titel:</th>
        <th>Aanbieder:</th>
        <th>Huurder:</th>
        <th>Aangemaakt:</th>
        <th>Beschikbaar:</th>
        <th>PPM:</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var artpiece in Model.ArtPieces)
    {
        <tr>
            <td>
                @artpiece.Id.ToString()
            </td>
            <td>
                @artpiece.Title.ToString()
            </td>
            <td>
                @artpiece.Lesser
            </td>
            <td>
                @artpiece.Lessee
            </td>
            <td>
                @artpiece.CreationDate.ToShortDateString()
            </td>
            <td>
                @artpiece.AvailableFrom.ToShortDateString()
            </td>
            <td>
                @artpiece.Price.ToString()
            </td>
            <td>
                <a asp-controller="Manage" asp-action="DeleteArtPiece" asp-route-id="@artpiece.Id">verwijder</a>
            </td>

        </tr>
    }
</table>
<br />