@model NoviKunstuitleen.Models.HomeViewModels.IndexViewModel

@inject SignInManager<NoviUser> SignInManager
@inject UserManager<NoviUser> UserManager

@{
    ViewData["Title"] = "Collectie";
}

<div class="fullcontent">

    <!-- NIEUW OBJECT, alleen tonen voor docenten -->
    @if (SignInManager.IsSignedIn(User) && (User.FindFirst("Type").Value == "Docent" || User.FindFirst("Type").Value == "Admin"))
    {
        <a class="largelink" asp-controller="Home" asp-action="Create">&#9776; Plaats nieuw kunstwerk</a>
    }

    @if (Model.HighlightedArtPiece != null)
    {
        <!-- UITGELICHT -->
        <div class="highlighted">
            <h3>Uitgelicht</h3>
            <div class="highlightedcontent">
                <ul>
                    <li><b>@Model.HighlightedArtPiece.Artist - @Model.HighlightedArtPiece.Title</b></li>
                    <li>Afmetingen: @Model.HighlightedArtPiece.Dimensions</li>
                    <li>Lijst: @Model.HighlightedArtPiece.Frame</li>
                    <li>&nbsp;</li>
                    <li>@Model.HighlightedArtPiece.Description</li>
                    <li>&nbsp;</li>
                    <li>Aangeboden door: @Model.HighlightedArtPiece.Lender</li>
                    <li>Prijs: @Model.HighlightedArtPiece.Price</li>
                    <li class="available">&check; Beschikbaar!</li>

                </ul>
            </div>

            <div class="highlightedimage">
                @if (Model.HighlightedArtPiece.ImageContent != null && Model.HighlightedArtPiece.ImageType != null)
                {
                    string img64 = Convert.ToBase64String(Model.HighlightedArtPiece.ImageContent);
                    string img64Url = string.Format("data:image/{0};base64,{1}", Model.HighlightedArtPiece.ImageType, img64);
                    <img class="imagehighlight shadow" src="@img64Url" />
                }
                else
                {
                    <img class="imagehighlight shadow" src="~/img/noimage.png" />
                }

            </div>
            <div class="clear">
                <!-- lege div voor clear -->
            </div>
        </div>
    }


    <!-- COLLECTIE -->
    <div class="collection">
        <div class="sectionheader">
            <h3>Collectie</h3>
        </div>

        @foreach (var artpiece in Model.ArtPieces)
        {
            <div class="artpiece">
                <div class="shadow">
                    <div class="artpieceimage">

                        @if (artpiece.ImageContent != null && artpiece.ImageType != null)
                        {
                            string img64 = Convert.ToBase64String(artpiece.ImageContent);
                            string img64Url = string.Format("data:image/{0};base64,{1}", artpiece.ImageType, img64);
                            <img class="imageartpiece" src="@img64Url" />
                        }
                        else
                        {
                            <img class="imageartpiece" src="~/img/noimage.png" />
                        }
                    </div>
                    <div class="artpiececontent">
                        <ul>
                            <li>&nbsp;</li>
                            <li><b>Titel: @artpiece.Title </b></li>
                            <li>&nbsp;</li>
                            <li>Aangeboden door: @artpiece.Lender</li>
                            <li>Prijs: @artpiece.Price</li>
                            <li>&nbsp;</li>
                            @if (artpiece.AvailableFrom < DateTime.UtcNow)
                            {
                                <li class="available">&check; Beschikbaar!</li>
                            }
                            else
                            {
                                <li class="notavailable">Niet beschikbaar</li>
                            }

                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="clear">
            <!-- lege div voor clear -->
        </div>
    </div>

</div>

<footer class="footer">
    &copy; 2019 - Tako Lansbergen
</footer>